VITE_SUPABASE_URL="https://cffiattcpldtkaeiwtfa.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmZmlhdHRjcGxkdGthZWl3dGZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA2NzAxNzAsImV4cCI6MjA1NjI0NjE3MH0.1ed8Ch7JpYetSRG_-336CZUP05DVNRGWL84yCoiE9b0"